# GCS_BUCKET=your-bucket-name
# GCS_PROJECT=your-gcp-project-id

# GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account-key.json

COOKIE_DOMAIN=.localhost
SECRET_KEY=your-secret-key-here

PORT=8070
WORKERS=4
